<h1>Analytics</h1>

<div class="col-md-2">
  <div class="row only-desktop">
    <%= button_to "Export CSV", export_time_entries_path(format: :csv), method: :get, class: "btn btn-default col-md-12" %>
  </div>
</div>
