<h1>Tasks <%= link_to '+', new_task_path %></h1>
<%= render 'task_table', tasks: @active %>

<% if @archived.any? %>
  <a id="archive-toggle">Show archived</a>
  <div id="archived-tasks">
    <h2>Archived</h2>
    <%= render 'task_table', tasks: @archived  %>
  </div>
<% end %>
