<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= render 'task_table', locals: { tasks: @active} %>

<h2>Archived</h2>
<%= render 'task_table', locals: { tasks: @archived } %>

<%= link_to 'New Task', new_task_path %>
