<div class="jumbotron">
  <h1>Time Tracker</h1>
  <p>A tool to boost your productivity! A to-do list and timesheet all bundled into one.</p>
  <%= button_to "Let's get started", new_user_registration_path, class: 'btn btn-primary' %>
</div>
