body {
  padding-bottom: 15px;
}

.flashes {
  background: red;
}

.header {
  padding: 10px 15px;
  background: cornflowerblue;
}

.brand {
  font-size: 2em;

  a {
    text-decoration: none;
  }
}

.auth {
  float: right;
}

// For color swatches

// Color Definitions
$gray: gray;
$green:  green;
$yellow: yellow;
$orange: orange;
$red:    red;

.task-item {
  padding: 15px;
  font-size: 1.5em;
  border-left: 1px solid #ccc;

  .task-title {
    font-weight: bold;
    margin: 0 15px;
  }
}

.expander.collapsed span {
    @extend .glyphicon;
    @extend .glyphicon-chevron-down;
}

.expander span {
    @extend .glyphicon;
    @extend .glyphicon-chevron-up;
}

.right-align {
  text-align: right;
}

.priority1 {
  border-left: 15px solid $gray;

  &.overdue {
    background: lighten($gray, 40%);
  }
}

.priority2 {
  border-left: 15px solid $green;

  &.overdue {
    background: lighten($green, 70%);
  }
}

.priority3 {
  border-left: 15px solid $yellow;

  &.overdue {
    background: lighten($yellow, 40%);
  }
}

.priority4 {
  border-left: 15px solid $orange;

  &.overdue {
    background: lighten($orange, 30%);
  }
}

.priority5 {
  border-left: 15px solid $red;

  &.overdue {
    background: lighten($red, 40%);
  }
}

#admin {
  color: red;
}

.devise-title {
  text-align: center;
  padding-bottom: 15px;
}

.devise-panel {
  padding: 10px;
}

// Hide completed tasks by default
#complete-toggle {
  cursor: pointer;
}

#completed-tasks {
  display: none;
}

// Adaptive classes
.only-desktop {
  @extend .visible-md;
  @extend .visible-lg;
}

// Glyphy buttons
form.button_to {
  display: inline;
}

.btn-container {
  @extend .btn-group;
  float: right;
}

.btn-stop {
  @include custom-button;
  @extend .btn-default;
}

.btn-edit {
  @include custom-button;
  @extend .btn-default;
}

.btn-delete {
  @include custom-button;
  @extend .btn-danger;
}

.btn-complete {
  @include custom-button;
  @extend .btn-default;
}

.btn-uncomplete {
  @include custom-button;
  @extend .btn-default;
}

// Date changing
.time-title {
  margin-bottom: 20px;
}

.cursor-tooltip {
  cursor: pointer;
}

.label {
  margin-right: 5px;
}

.panel-heading {
  font-weight: bold;
}

.panel.overrun .panel-heading {
  background: lighten($red, 40%);
}
