.flashes {
  background: red;
}

.header {
  padding: 10px 15px;
  background: cornflowerblue;
}

.brand {
  font-size: 2em;

  a {
    text-decoration: none;
  }
}

.auth {
  float: right;
}

// For color swatches
.swatch {
  width: 15px;
}

.priority1 {
}

.priority2 {
  background: green;
}

.priority3 {
  background: yellow;
}

.priority4 {
  background: orange;
}

.priority5 {
  background: red;
}

#admin {
  color: red;
}
