body {
  padding-bottom: 15px;
}

.flashes {
  background: red;
}

.header {
  padding: 10px 15px;
  background: cornflowerblue;
}

.brand {
  font-size: 2em;

  a {
    text-decoration: none;
  }
}

.auth {
  float: right;
}

// For color swatches

// Color Definitions
$gray: gray;
$green:  green;
$yellow: yellow;
$orange: orange;
$red:    red;


.swatch {
  width: 15px;
  border-right: 1px solid #ccc;
}

.priority1 {
  background: $gray;

  &.overdue {
    background: lighten($gray, 40%);
  }
}

.priority2 {
  background: $green;

  &.overdue {
    background: lighten($green, 70%);
  }

}

.priority3 {
  background: $yellow;

  &.overdue {
    background: lighten($yellow, 40%);
  }
}

.priority4 {
  background: $orange;

  &.overdue {
    background: lighten($orange, 30%);
  }
}

.priority5 {
  background: $red;

  &.overdue {
    background: lighten($red, 40%);
  }
}

#admin {
  color: red;
}

.devise-title {
  text-align: center;
  padding-bottom: 15px;
}

.devise-panel {
  padding: 10px;
}

// Hide archived tasks by default
#archive-toggle {
  cursor: pointer;
}

#archived-tasks {
  display: none;
}

// Adaptive classes
.only-desktop {
  @extend .visible-md;
  @extend .visible-lg;
}

// Glyphy buttons
form.button_to {
  display: inline;
}

.btn-container {
  @extend .btn-group;
  float: right;
}

.btn-stop {
  @include custom-button;
  @extend .btn-default;
}

.btn-edit {
  @include custom-button;
  @extend .btn-default;
}

.btn-delete {
  @include custom-button;
  @extend .btn-danger;
}

.btn-archive {
  @include custom-button;
  @extend .btn-default;
}

.btn-unarchive {
  @include custom-button;
  @extend .btn-default;
}

// Date changing
.time-title {
  margin-bottom: 20px;
}

.time-container {
  margin-top: .5em;
  font-size: medium;
  //float: right;
  text-align: right;
}

.cursor-tooltip {
	cursor: pointer;
}

.label {
  margin-right: 5px;
}
