.flashes {
  background: red;
}

.header {
  padding: 10px 15px;
  background: cornflowerblue;
}

.brand {
  font-size: 2em;

  a {
    text-decoration: none;
  }
}

.auth {
  float: right;
}

// For color swatches
.swatch {
  width: 15px;
}

.priority1 {
}

.priority2 {
  background: green;
}

.priority3 {
  background: yellow;
}

.priority4 {
  background: orange;
}

.priority5 {
  background: red;
}

#admin {
  color: red;
}

.devise-title {
  text-align: center;
  padding-bottom: 15px;
}

.devise-panel {
  padding: 10px;
}

// Hide archived tasks by default
#archive-toggle {
  cursor: pointer;
}

#archived-tasks {
  display: none;
}

.inline {
  display: inline;
}

// Adaptive classes
.only-desktop {
  @extend .visible-md;
  @extend .visible-lg;
}

// Glyphy buttons
form.button_to {
  display: inline;
}

.btn-container {
  @extend .btn-group;
  float: right;
}

.btn-stop {
  @include custom-button;
  @extend .btn-default;
}

.btn-edit {
  @include custom-button;
  @extend .btn-default;
}

.btn-delete {
  @include custom-button;
  @extend .btn-danger;
}

.btn-archive {
  @include custom-button;
  @extend .btn-default;
}

.btn-unarchive {
  @include custom-button;
  @extend .btn-default;
}
